@import "tailwindcss";

/* enable class-driven dark variant (so `dark:` works when <html class="dark">) */
@custom-variant dark (&:where(.dark, .dark *));

/* base theme variables and small overrides (you can expand these) */
@layer base {
  :root {
    --bg: #ffffff;
    --muted: #6b7280;
    --text: #0f172a;
    --card: #ffffff;
  }

  .dark {
    --bg: #0b1220;
    --muted: #9aa4b2;
    --text: #e6eef8;
    --card: #071223;
  }

  html,
  body {
    background-color: var(--bg);
    color: var(--text);
  }

  .logo {
    width: 90px;
    height: 90px;
    filter: drop-shadow(0 0 10px #8732d189) drop-shadow(0 0 20px #b42b748c);
  }
  .login-right-area {
    height: 100vh;
    background: linear-gradient(to top, #7823ff, transparent),
      linear-gradient(to bottom left, #21b9fa, transparent),
      linear-gradient(to bottom right, #ffffff, transparent);
    background-blend-mode: screen;
  }
  .btn-log {
    display: flex;
    justify-self: center;
    justify-content: center;
    background: linear-gradient(
      to right,
      #7823ff,
      #21b9fa
    ); /* Gradient from left to right */
    border: none;
    color: white;
    padding: 8px;
    font-size: 16px;

    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease-in-out;
  }
}
